.contact {
  margin: 128px;
}
.contact .heading {
  text-align: center;
}
.contact h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #282938;
  display: inline-block;
  width: 949px;
  margin-bottom: 16px;
  line-height: 64px;
}
.contact p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #282938;
  opacity: 70%;
  width: 562px;
  margin: 0 auto;
  margin-bottom: 64px;
}

.contact .form {
  background: url("/public/images/contactformbackimg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  row-gap: 20px;
  padding: 69px 60px;
  border-radius: 12px;
}
.contact .form input {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 15px 25px;
  border-radius: 10px;
  width: 500px;
  border: 1px solid #f4f6fc;
}
.contact .form h4 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
.contact .btn {
  text-align: center;
}
.contact .btn a {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding: 16px 77px;
  background: #282938;
  color: #f4f6fc;
  border-radius: 41px;
  display: inline-block;
  margin-top: 24px;
}
