.goal {
  margin-bottom: 128px;
}

.goal .box {
  display: flex;
  flex-direction: column;
}
.goal .text {
  background-image: url("../../../public/images/goalbackimg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.goal .text h6 {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #282938;
}
.goal .text h1 {
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-weight: 600;
  color: #282938;
  line-height: 74px;
  margin-top: 4px;
  margin-bottom: 16px;
}
.goal .text p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #282938;
  line-height: 28px;
  opacity: 70%;
}

.goal .box2 {
  display: flex;
  justify-content: space-between;
}
.goal .text1 {
  width: 45%;
  padding: 80px;
}
.goal .text2 {
  width: 45%;
  padding: 80px;
}
.goal .text2 h1 {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 600;
  color: #282938;
  margin-bottom: 16px;
  margin-top: 28px;
}
.goal .text2 p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #282938;
  line-height: 28px;
  opacity: 70%;
}

.goal .img {
  width: 50%;
}
