.banner {
  background: #1c1e53;
  padding: 126px 0;
}
.banner .box {
  display: flex;
  justify-content: center;
}
.banner .text {
  width: 50%;
}
.banner .box .text h2 {
  font-family: "Poppins", sans-serif;
  font-size: 54px;
  font-weight: 600;
  color: #ffffff;
  width: 582px;
  line-height: 74px;
}
.banner .box .text p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  width: 562px;
  margin-top: 24px;
  line-height: 28px;
  margin-bottom: 48px;
}
.banner .box .text .work {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: #1b1c2b;
  background: #fcd980;
  padding: 16px 56px;
  border-radius: 41px;
  margin-right: 96px;
}
.banner .box .text a {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}
.banner .box .text i {
  color: #ffffff;
  margin-left: 16px;
}
.banner .image {
  width: 50%;
  margin-top: 23px;
}

@media (min-width: 320px) and (max-width: 675px) {
  .banner {
    padding: 50px 0;
  }
  .banner .box {
    flex-direction: column;
  }

  .banner .box .text h2 {
    font-size: 48px;
    line-height: 60px;
    padding: 0 10px;
  }
  .banner .box .text p {
    width: 450px;
    padding: 0 10px;
  }
  .banner .image {
    display: none;
  }
  .banner .work {
    margin-top: 0;
  }
  .banner .price {
    margin-top: 15px;
    height: 0;
    margin-left: -40px;
  }

  .banner .text .btn {
    width: 450px;
    height: 60px;
    padding: 0 10px;
    display: flex;
  }
}
