.imgbox {
  background: url("/public/images/meetbackimg1.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 48px 64px;
  position: relative;
}
.imgbox .gradiant {
  width: 168px;
  height: 168px;
  border-radius: 50%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(82, 57, 250, 1) 100%
  );
  position: absolute;
  top: 48px;
  transform: scale(0);
}
.imgbox .iconbox {
  position: absolute;
  top: 170px;
  left: 110px;
}
.imgbox .icon {
  font-size: 13px;
  margin-left: 11px;
  color: #fff;
  transform: scale(0);
}
.imgbox .text {
  text-align: center;
}
.imgbox h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #1d2130;
  margin-top: 30px;
}
.imgbox p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #1d2130;
  margin-top: 2px;
  opacity: 70%;
}
.imgbox:hover .icon {
  transform: scale(1);
}
.imgbox:hover .gradiant {
  transform: scale(1);
}
