.blogblog {
  margin: 128px 0;
}
.blogblog .text {
  text-align: center;
}
.blogblog h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #282938;
  margin-bottom: 64px;
}
.blogblog .box {
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 64px;
}
