.featurerevision {
  background: url("/public/images/featurerevisionbackimg.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 128px 160px;
}

.featurerevision .box {
  display: flex;
  justify-content: space-between;
}

.featurerevision .text {
  width: 45%;
  margin-top: 69px;
}
.featurerevision .text h6 {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #282938;
}
.featurerevision .text h1 {
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-weight: 600;
  color: #282938;
  line-height: 56px;
  margin-top: 8px;
  margin-bottom: 31px;
  width: 624px;
}
.featurerevision .text p {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #282938;
  line-height: 28px;
  opacity: 70%;
}

.featurerevision .img {
  width: 45%;
}
.featurerevision .img img {
  width: 100%;
}
