.work {
  margin-top: 128px;
}
.work .box {
  display: flex;
}
.work .left {
  width: 40%;
}
.work .right {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 142px;
}
