.design {
  width: 100%;
  padding: 128px 0;
  background: #f4f6fc;
}
.design .design-title p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #282938;
}
.design .design-title h2 {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #282938;
  width: 630px;
  margin: 0 auto;
  line-height: 64px;
  margin-bottom: 47px;
}

.design .box {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
