.blog {
  margin: 128px 0;
}

.blog h1 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #282938;
  margin-bottom: 64px;
}

.blog .box {
  display: flex;
  justify-content: space-between;
}
