*{
  margin: 0;
  padding: 0;
}
ul,ol{
  list-style: none;
}
a{
  text-decoration: none;
}
.container{
  width: 1280px;
  margin: 0 auto;
}

.title h2{
  font-family: 'Poppins', sans-serif;
  font-size: 48px;
  font-weight: 600;
  color: #282938;
}
.title p{
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #282938;
  margin-top: 16px;
}
.title a{
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #2405F2;
  margin-top: 16px;
}
.title i{
  margin-left: 16px;
}

/* =================================================================
  nav part start
==================================================================== */

/* =================================================================
  nav part end
==================================================================== */

/* =================================================================
  banner part start
==================================================================== */



/* ==============================================
  banner part end
================================================= */

/* ==============================================
  work part start
================================================= */



/* ==============================================
  work part end
================================================= */

/* ==============================================
  project part start
================================================= */



/* ==============================================
  project part end
================================================= */

/* ==============================================
  design part start
================================================= */



/* ==============================================
  design part end
================================================= */

/* ==============================================
  client part start
================================================= */



/* ==============================================
  client part end
================================================= */