.accordion .heading {
  background: #fff !important;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}
.accordion p {
  background: #fff !important;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  opacity: 87%;
  margin-left: 90px;
}
.accordion__button {
  background-color: #fff !important;
  color: #282938 !important;
}
.accordion__button:before {
  display: inline-block;
  content: 0 !important;
  height: 0px !important;
  width: 0px !important;
  opacity: 0;
}

.accordion {
  border: none !important;
}

.accordion .number{
  color: #2405F2;
  padding-right: 50px;
}
